$bg-ok: hsl(149, 76%, 42%);
$bg-error: hsl(2, 76%, 62%);
$bg-att: hsl(39, 90%, 65%);
$bg-info: hsl(215, 76%, 69%);
$c-placeholder: hsl(0, 4%, 30%);
$c-border: hsl(0, 0%, 99%);
$c-border-hover: hsl(0, 0%, 85%);
$bg-input: hsl(0, 0%, 95%);
$bg-input-hover: hsl(210, 69%, 96%);
$border: 1px;
$rounded-input: 3px;
