$font-size: 18px;
$c-title: hsl(0, 4%, 14%);
$c-text: hsl(109, 0%, 26%);
$c-link: hsl(229, 97%, 55%);
$font: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", sans-serif;
$wrapper-max: 1200px;

body {
	margin: 0;
	font-size: 1rem;
	line-height: 1.8;
	color: $c-text;
	font-family: $font;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::-webkit-input-placeholder {
	color: $c-text;
	opacity: 0.6;
}

::placeholder {
	color: $c-text;
	opacity: 0.6;
}

iframe,
img {
	height: auto;
	max-width: 100%;
}

input,
textarea	{
	font-family: $font;
}

ul, ol {
	padding: 1rem;
}

.clear:before,
.clear:after {
	content: "";
	display: table;
}

.clear:after {
	clear: both;
}

a,
a:active,
a:visited,
a:hover {
	color: $c-link;
	transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
	color: $c-title;
	margin: 1em 0 0.5em 0;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.7rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.3rem;
}

h6 {
	font-size: 1.1rem;
}

.wrapper {
	margin: 0 auto;
	max-width: $wrapper-max;
}