/*! GridKit - gridkit.io */
@import "variables_base";

html {
    font-size: $font-size;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: $line-height;
    color: $c-text;
    font-family: $font;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

iframe,
img,
audio,
video {
    height: auto;
    max-width: 100%;
}

input,
textarea {
    font-family: $font;
}

ul,
ol {
    padding: 1rem;
}

.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

a,
a:active,
a:visited,
a:hover {
    color: $c-link;
    @extend %transition;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $c-title;
    margin: 1em 0 0.5em 0;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.1rem;
}

.wrapper {
    margin: 0 auto;
    max-width: $wrapper-max;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
