$font-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', 'Roboto Mono', monospace;
$c-code: hsl(195, 67%, 58%);
$bg-code: hsl(205, 25%, 91%);
$c-snippet: hsl(167, 100%, 95%);
$bg-snippet: hsl(0, 4%, 14%);

%code {
	font-family: $font-mono;
	font-weight: normal;
	font-size: 0.944rem;
	white-space: pre-wrap;
	color: $c-snippet;
	background: $bg-snippet;
}

code,
pre	{
	@extend %code;
}

code {
	padding: 0.1rem 0.2rem;
	color: $c-code;
	background: $bg-code;
}

pre {
	padding: 2rem;
	max-width: 100%;

	code {
		@extend %code;
	}
}