@import "variables_code";

code,
pre {
    @extend %code;
}

code {
    padding: 0.1rem 0.2rem;
    color: $c-code;
    background: $bg-code;
}

pre {
    padding: 1.4rem;
    max-width: 100%;

    code {
        @extend %code;
    }
}
