$bg-ok: hsl(149, 76%, 42%);
$bg-error: hsl(2, 76%, 62%);
$bg-att: hsl(39, 90%, 65%);
$bg-info: hsl(215, 76%, 69%);
$c-placeholder: hsl(215, 46%, 50%);
$c-border: hsla(215, 76%, 50%, 0.2);
$c-border-hover: hsla(215, 76%, 50%, 0.5);
$bg-input: hsl(210, 69%, 99%);
$bg-input-hover: hsl(0, 100%, 100%);
$border: 1px;
$rounded-input: 3px;

%form-item	{
	border: $border solid $c-border;
	padding: 0 0.4rem;
	margin: 0.2rem auto;
	outline: none;
	font-size: 1rem;
	line-height: 2.2rem;
	max-width: 100%;
	background: $bg-input;
}

%disabled-input	{
	border-color: hsla(0, 0%, 0%, 0.1);
	background: hsla(0, 0%, 50%, 0.1);
	pointer-events: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="tel"],
input[type="range"],
select	{
	@extend %form-item;

	&:hover, &:focus, &:active	{
		border-color: $c-border-hover;
	}

	&.disabled	{
		@extend %disabled-input;
	}

	&.rounded	{
		border-radius: $rounded-input;
	}
}

textarea	{
	@extend %form-item;
	min-height: 6rem;
	line-height: 1.2rem;
	padding: 0.4rem;

	&:hover, &:focus, &:active	{
		border-color: $c-border-hover;
	}

	&.disabled	{
		@extend %disabled-input;
	}

	&.rounded	{
		border-radius: $rounded-input;
	}
}

textarea.v-resize	{
	resize: vertical;
}

textarea.noresize	{
	resize: none;
}

.panel	{
	border: $border solid hsla(0, 0%, 0%, 0.2);
	border-left-width: 0.4rem;
	margin: 1rem 0;
	padding: 0.3rem 0.6rem;
	color: hsla(0, 0%, 0%, 0.45);

	&.ok	{
		background: $bg-ok;
	}

	&.error	{
		background: $bg-error;
	}

	&.info	{
		background: $bg-info;
	}

	&.att	{
		background: $bg-att;
	}

	&::before {
		font-size: 1rem;
		padding-right: 1rem;
	}

	&.error::before {
		content: "❌️";
	}

	&.att::before {
		content: "⚠️️️";
		color: hsla(0, 0%, 0%, 1);
	}

	&.ok::before {
		content: "✔️️";
	}

	&.info::before {
		content: "❕️️";
	}
}

::-webkit-input-placeholder {
	color: $c-placeholder;
	opacity: 0.6;
}

::placeholder {
	color: $c-placeholder;
	opacity: 0.6;
}
