$col-nr: 12;
$col-gap: 1rem;

.grid {
	display: grid;
	grid-gap: $col-gap;
	grid-template-columns: repeat($col-nr, 1fr);
}

/* -- Stretch vertically */
.grid.stretch {
	align-items: stretch; /* all the grid items in the same row will have the same height */
}

/* -- Center vertically */
.grid.v-center {
	align-items: center;
}

/* -- Center horizontally */
.grid.h-center {
	justify-content: center;
}

/* -- Column span */
@for $i from 1 through $col-nr {
	.col-span-#{$i} {
		grid-column: span $i;
	}
}

/* -- Row span */
@for $i from 1 through $col-nr {
	.row-span-#{$i} {
		grid-row: span $i;
	}
}

/* -- Column indent */
@for $i from 1 through $col-nr {
	.col-start-#{$i} {
		grid-column-start: span $i;
	}
}